
.App {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header{
    background-color: #fcfdff;
    flex: 0.15;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #000040, inset 0px 4px 4px #000040;
    margin-bottom: 1%;
    padding: 1%;
    width: 100%;
}

.header a {
    align-self: right;
    color: black;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    margin-right: 3%;
}

.header a:hover {
    cursor: pointer;
    background: #cdf0fe;
    color: black;
}

.header p {
    align-self: center;
    color: black;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    text-align: center;
    margin-right: 3%;
}

.header img {
    align-self: left;
    height: 5%;
    width: 5%; 
}

.app-container {
    flex: 0.85;
    display: flex;
    align-items: stretch;
}

.menu{
    background-color: #fcfdff;
    flex: 0.15;
    display: flex;
    flex-direction: column;
}

.menu a {
    align-self: center;
    color: black;
    font-family: "Open Sans", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    text-align: center;
    padding: 10%;
}

.selected-menu{
    width: 80%;
    background-color: #cdf0fe;
}

.menu a:hover {
    padding: 10%;
    cursor: pointer;
    text-align: center;
    background: #cdf0fe;
    color: black;
    width: 80%;
}

.horizontal-line {
    background-color: #9ee5ff;
    height: 0.5%;
    margin: 0%;
}

.vertical-line {
    width: 0.2%;
    background-color: #9ee5ff;
    margin-right: 3%;
}

.main {
    padding-left: 5%;
    flex: 0.85;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.pantallas {
    flex: 0.15;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.pantallas a {
    align-self: center;
    color: black;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    text-align: center;
    padding: 2%;
}

.selected-pantalla{
    border-bottom: 3px solid #9ee5ff;
}

.pantallas a:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.flex-container{
    background-color: #cdf0fe;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #9ee5ff;
    padding: 3%;
    position: relative;
    width: 80%;
    margin: 2%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.family-info {
    flex: 0.30;
    display: flex;
    flex-direction: column;
}

.kids-info {
    flex: 0.70;
    display: flex;
    flex-direction: row;
}

.kid {
    width: 35%;
}

.family-request {
    flex: 0.50;
    display: flex;
    flex-direction: row;
}

.family-request img {
    flex: 0.30;
    width: 100%;
    height: auto;
    background-color: grey;
}

.family-request p {
    flex: 0.30;
    margin-left: 15%;
}

.buttons {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    align-items: right;
}

.button {
    background-color: white;
    border-radius: 10px;
    height: 30%;
    width: 100%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 3% 5% 3% 5%;
    font-family: "Poppins", Helvetica;
    border: 2px solid #b7ecff;
}

.button:hover {
    cursor: pointer;
    background-color: #b7ecff;
    box-shadow: 0 6px 10px 0 rgba(124, 124, 124, 0.24), 0 7px 25px 0 rgba(124, 124, 124, 0.24);
}

.buttons-acceptance {
    flex: 0.30;
    display: flex;
    flex-direction: row;
    align-items: right;
}

.button-accept {
    background-color: rgb(0, 174, 0);
    border-radius: 10px;
    height: 100%;
    width: 50%;
    margin-right: 4%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 3% 5% 3% 5%;
    font-family: "Poppins", Helvetica;
    border: 2px solid rgb(0, 116, 0);
}

.button-accept:hover {
    cursor: pointer;
    background-color: rgb(0, 116, 0);
    box-shadow: 0 6px 10px 0 rgba(124, 124, 124, 0.24), 0 7px 25px 0 rgba(124, 124, 124, 0.24);
}

.button-decline {
    background-color: rgb(255, 59, 59);
    border-radius: 10px;
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 3% 5% 3% 5%;
    font-family: "Poppins", Helvetica;
    border: 2px solid rgb(174, 0, 0);
}

.button-decline:hover {
    cursor: pointer;
    background-color: rgb(174, 0, 0);
    box-shadow: 0 6px 10px 0 rgba(124, 124, 124, 0.24), 0 7px 25px 0 rgba(124, 124, 124, 0.24);
}