
.App {
    text-align: center;
  }

.header{
    overflow: hidden;
    background-color: #fcfdff;
    position: fixed;
    top: 0;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:flex-end;
    margin-bottom: 3%;
    padding: 1.5%;
    width: 100%;
}

.header a {
    float: left;
    display: block;
    color: #000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    margin-right: 3%;
}

.header a:hover {
    cursor: pointer;
    background: #cdf0fe;
    color: black;
}
.header-logo {
    height: fit-content; 
    width: auto; 
    max-height: 70px; 
    margin-left: 2%;
    left: 0;
    position: absolute;
   
}

.main {
    margin-top: 15%;
}

.header-text{
    color: #000;
    font-family: "Poppins", Helvetica;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-indent: 50px;
    line-height: 200%;
    position: relative;
}

.sub-header {
  color: #000;
  font-family: "Poppins", Helvetica;
  font-weight: bold;
  margin-left: 10%;
  line-height: 200%;
}

ul {
    background-color: #fcfdff;
    display: inline;
    margin: 0;
    padding: 0;
  }
ul li {display: inline-block;}
ul li:hover {background: #b7ecff;cursor: pointer;}
ul li:hover ul {display: block; box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040; margin-top: 2.3%;}
ul li ul {
    position: fixed;
    padding-top: 1%;
    width: fit-content;
    display: none;
  }
ul li ul li { 
    background: #edecf7; 
    display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background:#edecf7;}


.button {
    background-color: #cdf0fe;
    border-radius: 10px;
    height: 66px;
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 3% 10% 3% 10%;
    height: fit-content;
    font-family: "Poppins", Helvetica;
    border: 2px solid #b7ecff;
}

.button:hover {
    cursor: pointer;
    background-color: #b7ecff;
    box-shadow: 0 6px 10px 0 rgba(124, 124, 124, 0.24), 0 7px 25px 0 rgba(124, 124, 124, 0.24);
}

.title-text {
    color: #000;
    font-family: "Poppins", Helvetica;
    font-size: 35px;
    font-weight: bold;
    height: 63px;
    text-align: center;
    text-indent: 50px;
    line-height: 200%;
    position: relative;
}

.text {
    color: #000;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 63px;
    text-align: center;
    text-indent: 50px;
    line-height: 200%;
    position: relative;
    margin-bottom: 5%;
}
.indented-text {
    padding-left: 16%; 
  }
  .outdented-text {
    margin-right:60%;
  }
.flex-container{
    background-color: #fcfdff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    position: relative;
    width: 20%;
    margin: auto;
}

.admin-container{
  background-color: #fcfdff;
  border-radius: 25px;
  box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 3%;
  position: relative;
  width: 40%;
  margin: auto;
}


input[type=text]{
    width: 80%;
    height: 10%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:  #f8f8f8;
    resize: none;
    margin: 10px;
    margin-left: 10%;
}

select{
    width: 100%;
    height: 10%;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.field-text{
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.footer{
    background-color: #edecf7;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 30% auto;
    flex-direction: column;
    justify-content: baseline;
    margin-top: 3%;
    padding: 1.5%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.menu{
    overflow-x: hidden;
    background-color: #fcfdff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 5%;
    margin-bottom: 3%;
    padding-top: 10%;
    height: 100%;
    width: 15%;
}


.menu a {
    align-self: center;
    color: #000000;
    font-family: "Open Sans", Helvetica;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: normal;
    position: relative;
    text-align: center;
    padding: 10%;
}

.menu a:hover {
    padding: 10%;
    cursor: pointer;
    text-align: center;
    background: #cdf0fe;
    color: black;
    width: 100%;
}

.flex-container-blue{
    background-color: #cdf0fe;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3%;
    position: relative;
    width: 50%;
    margin: auto;
    font-size: 25px;
}

.five-links-table {
    margin: auto;
    width: 70%;
    text-align: center;
}

.five-links-table tr td{
    width: 20%;
}

.five-links-table tr td:hover{
    cursor: pointer;
    background-color: #b7ecff;
    box-shadow: 0 6px 10px 0 rgba(124, 124, 124, 0.24), 0 7px 25px 0 rgba(124, 124, 124, 0.24);
}

.five-links-table tr td a {
    width: 100%;
    display: block;
  }

  
  /* sammy */
.flex-container-register{
    background-color: #fcfdff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px #00000040, inset 0px 4px 4px #00000040;
    display: flex;
    flex-direction: column;
    align-items: flex-start;;
    justify-content: center;
    gap: 10px;
    padding: 4%;
    position: relative;
    width: 22%;
    margin: -7% auto 0; 
}   
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .checkbox-label {
    font-family: "Inter", "Helvetica";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center; 
  }
  
  .checkbox-label:hover {
    color: #5595b9; 
  }
  .hidden-checkbox {
    position: absolute;
    opacity: 0;
  }

    .custom-checkbox {
        width: 24px;
        height: 24px;
        font-family: "Inter", "Helvetica";
        border-radius: 50%;
        border: 2px solid #e6dddd;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px; 
    }
  

  .hidden-checkbox:checked + .checkbox-label .custom-checkbox {
    background-color: #00eeff;
    border-color: #d6c8c8;
  }
  .hidden-checkbox:checked + .checkbox-label .custom-checkbox::after {
    content: ''; 
    display: block;
    width: 12px; 
    height: 12px;
    background-color: #ffffff; 
    border-radius: 50%; 
    margin: 6px; 
  }
  
  .button-google {
    background-color: #ffffff;
    border-radius: 10px;
    height: 66px;
    position: relative;
    width: fit-content;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 3% 10% 3% 10%;
    height: fit-content;
    font-family: "Inter", "Helvetica";
    border: 1px solid #b9b9b9;
}
